header h1,
p {
  font-size: 2vw;
}

.galleryTitle {
    display: flex;
    font-size: 4vw;
}

.galleryTitle h3 {
    margin: 15px auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 5px;
}