header h1,
p {
  font-size: 4vw;
}

.galleryTitle {
    display: flex;
    font-size: 4vw;
    text-align: center;
}

.galleryTitle h3 {
    margin: 15px auto;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    margin: 5px;
    max-width: 40vw;
    max-height: auto;
}