html {
  scroll-behavior: smooth;
}

header {
  text-align: center;
}

header h1,
p {
  font-size: 3vw;
}

body {
  /* background-color: green; */
}

img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
}

img:hover {
  /* filter: opacity(70%); */
  filter: brightness(.75);
}

a:hover {
  color: black;
}

.mainPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.mainPics img:hover {
  fill: rgba(219, 219, 219, 0.8)
}

.mainPics a {
  margin: 50px;
  text-decoration: none;
}

.mainPics h3 {
  color: rgb(87, 87, 87);
}

.altPics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  text-align: center;
}

.altPics a {
  margin: 15px;
  text-decoration: none;
  justify-content: center;
}

.altPics h3 {
  color: rgb(87, 87, 87);
  margin: auto;
}

.altPics img {
  display: block;
  width: 12vw;
}

.profile {
  margin: 15px;
  justify-content: center;
}

.profile a {
  margin-left: auto;
}

#topBtn:hover {
  background-color: #555;
}

.button {
  display: flex;
  justify-content: center;
}

.button a {
  margin: 5px;
}

button {
  border: 1px solid darkgray;
  border-radius: 15px;
  text-align: center;
  height: 5vh;
  font-size: large;
}

button:hover {
  border: 1px solid black;
  background-color: darkgray;
}

/* styling for return to top button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(150, 150, 150);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}
